<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">
  </head>
    
  <body>
    <div id="container">
      <div id="topNav">
        <a href="../../public/views/adminscreen.html" class="button">Admin Page</a>
      </div>
      
      <div id="content">
        <div id="questionContainer">
          <% question.title %>
        </div>
      
        <ul id="answersContainer">
          <% answers.forEach(function(ans) { %>
            <li class="answer"><%= ans.title %></li>
          <% }); %>

        </ul>
      </div>
    </div>
  </body>

</html>
