body {
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#container {
  max-width: 1000px;
  margin: auto;
  min-height: 100%;
  background-color: white;
}

#topNav {
  text-align: center;
}

.button {
  padding: 24px 100px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  font-size: 150%;
}

.disabledButton {
  pointer-events: none;
  cursor: default;
  color: grey;
}

#content {
  padding: 60px 40px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

/* Main Screen */

#questionContainer {
  padding-top: 50px;
  font-size: 300%;
  text-align: center;
}

#answersContainer {
  
  font-size: 250%;
  text-align: center;
}

.answer {
  margin: 0px 0px;
  height: 120px;
}

.answer {
  border-bottom: 1px solid #939191;
}

.answer:first-child {
  border-top: 1px solid #939191;
}

.answer:hover {
  background-color: #E5F4F8;
  cursor: pointer;
}

.answer > button {
  width: 100%;
  height: 100%;
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

#noQuestionsContainer {
  padding-top: 35px;
  font-size: 50px;
  text-align: center;
}


/* Admin Login */

#loginTitle {
  padding-top: 50px;
  font-size: 300%;
  text-align: center;
}

#loginForm {
  text-align: center;
  margin: 50px 250px;
  margin-bottom: 30px;
}

.formElement {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.formElement > input {
  padding: 5px;
  width: 100%;
  font-size: 200%;
}

.formElement > input:focus {
  background-color: #E5F4F8;
}

.formTitle {
  text-align: left;
  padding-bottom: 5px;
  font-size: 150%;
}

#loginButton {
  min-width: 200px;
}

.centerContainer {
  text-align: center;
}

#errorContainer {
  height: 30px;
  text-align: center;
  color: red;
  font-size: 10px;
  font-size: 2vw;
}


/* Admin Screen */

#questionsContainer {
  height: 65%;
  text-align: center;
}

#questionsList {
  font-size: 200%;
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  border: 1px solid #939191;
}

.question {
  padding: 30px 0px;
}

.question {
  border-bottom: 1px solid #939191;
}

.question:last-child {
  border-bottom: none;
}

.question:hover {
  background-color: #E5F4F8;
  cursor: pointer;
}

#currentQuestionContainer {
  padding-left: 40px;
}

#questionTitle {
  font-size: 50px;
}

#answersAndCountsContainer {
  width: 100%;
  padding: 40px 15px;
}

.answerAndCount {
  font-size: 325%;
  padding: 5px;
}

.count {
  float: right;
}

/* New Question */
#newQuestionForm {
  text-align: center;
  margin: 50px 150px;
  margin-bottom: 30px;
}

#newQuestionForm input[name="question"] {
  height: 100px;
}

#newQuestionForm .formElement {
  font-size: 25px;
}


/* Mobile screens */
@media all and (max-width: 1000px) {
  #content {
    padding: 5px 15px;
  }
  
  /* Admin Login */
  #loginForm {
    margin: 0 15px;
  }
  
  /* Admin Screen */
  #content.flex {
    flex-direction: column;
  }
  
  #questionsContainer {
    flex-grow: 0;
    max-height: 50%;
  }
  
  #questionsList {
    height: 70%;
  }
  
  #currentQuestionContainer {
    padding-left: 0;
  }
  
  #answersAndCountsContainer {
    padding: 40px 0;
  }
  
}

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}