<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
    
  <body>
    <div id="container">
      <div id="topNav">
        <a href="/admin" class="button">Admin Page</a>
      </div>
      
      <div id="content">
        
        <% if(locals.question) { %>
          
          <div id="questionContainer">
            <%= question.title %>
          </div>
          
          <form method="post" action="/submitAnswer" id="submitAnswerForm">
            <input type="text" name="questionId" style="display:none">
            <ul id="answersContainer">
              <% question.answers.forEach(function(a) { %>
                <li class="answer">
                  <%= a.title %>
                  <a value="<%= a.title %>" type="submit" name="<%= a.title %>">
                </li>
              <% }); %>
            </ul>
          </form>
        
        <% }else { %>
        
          <div id="noQuestionsContainer">
            There are no questions to answer
          </div>
        
        <% } %>
      </div>
    </div>
  </body>

</html>
