<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
    
  <body>
    <div id="container">
      <div id="topNav">
        <a href="/db" class="button">Admin Page</a>
      </div>
      
      <div id="content">
        <div id="questionContainer">
          This is the question text?
        </div>
      
        <ul id="answersContainer">
          <li class="answer">Answer A</li>
          <li class="answer">Answer B</li>
          <li class="answer">Answer C</li>
          <li class="answer">Answer D</li>
          <li class="answer">Answer E</li>
          <li class="answer">Answer F</li>
          <li class="answer">Answer G</li>
        </ul>
      </div>
    </div>
  </body>

</html>
